.App {
    max-width: 600px;
    margin: 10px auto;
}

.App footer {
    font-size: 11px;
}

body {
   background-image: url(./Media/5314930.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}